<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%-include('./partials/stylefavicon.ejs')%>
  </head>
  <body>
   <section class="contenedorApp"> 
    <%-include('./partials/menu.ejs')%>

    <%-include('./partials/campana.ejs')%>

    <section class="mainContenedor">

  <section class="cont__tit__guantes">
    
    <article class="tituloPrin">
      <div class="boxCon">
        <section class="subBox">BOX</section>
        <section class="subBox">con</section>
      </div>
      <h2 class="ramirez">RAMIREZ</h2>
      <p class="epigraf"> aprendé con un experto</p>

      <article class="opciones--anot--info">
        <a href="/users/registro">+ Anotate</a>
        <a href="#pie">+ Info</a>
      </article> 
    </article>

    <figure class="ramirez__contenedor">
        <img class="ramirez--img" src="/images/boxinggloves.svg" alt="guantes">
    </figure>

  </section>
    
  <% if(typeof errors == 'undefined' && typeof usuario.horario != 'undefined') {%> 
    <section class="horarioClase">
      <p><%= usuario.nombre %> tu clase comienza el <%= usuario.dia %>  <%= usuario.horario %> </p>
    </section>
  <% } else if(typeof errors == 'undefined') {%> 
    <section class="horarioClase">
      <p><%= usuario.nombre %> tu clase comienza...</p>
    </section>
  <% } %>

  <section class="contenedor__slide" id="masInfo">

  <article class="masInfo fade">
    <img class="masInfo--img" src="/images/ilus_1.jpg" alt="ejemplo">
    <p class="masInfo--info">El box es una de las disciplinas deportivas más completas</p>
  </article>
  <article class="masInfo fade">
    <img class="masInfo--img" src="/images/ilus_2.jpg" alt="ejemplo">
    <p class="masInfo--info">Agilidad, reflejos, fuerzas y resistencia</p>
  </article>
  <article class="masInfo fade">
    <img class="masInfo--img" src="/images/ilus_3.jpg" alt="ejemplo">
    <p class="masInfo--info">Libera tensiones y estrés. La practica del boxeo te ayudará a eliminar las tensiones acumuladas en el día a día</p>
  </article>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
 
</section>
<script src="/javascripts/slide.js"></script>
</section>
<%-include('./partials/footer.ejs')%>
</section>
  </body>
</html>
